html, body{
    margin:0;
    padding:0;
    box-sizing:0;
    background:khaki
}
.container {
    display: grid;
    grid-template-columns: 3fr 20fr;
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-areas: "h h" "m a" "f f";
    position:relative;
}
#controle{
    position:absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    height: 150px;
}
header {
    background-color:rgb(126, 4, 4);
    grid-area: h;
}
main {
    background-color: rgb(179, 120, 11);
    grid-area: m;
}
aside {
    background-color: blueviolet;
    grid-area: a;
}
footer {
    background-color: rgb(126, 4, 4);
    grid-area: f;
}
h1{
    position: absolute;
    left: 200px;
    font-size: 70px;
    font-family:'Roboto Mono', monospace;;
}
h2{
    font-family: 'Roboto Mono', monospace;
    font-size: 22px;
}
h3{
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    text-align: center;
}
#GTA{
    position:absolute;
    top: 160px;
    left: 250px;
    width: 200px;
    height: 250px;
}
#GOW{
    position:absolute;
    top: 160px;
    left: 530px;
    width: 200px;
    height: 250px;
}
#Fort{
    position:absolute;
    top: 160px;
    right: 430px;
    width: 200px;
    height: 250px;
}
#Cyber{
    position:absolute;
    top: 160px;
    right: 150px;
    width: 200px;
    height: 250px;
}
#Doom{
    position:absolute;
    top: 430px;
    left: 250px;
    width: 200px;
    height: 250px;
}
#RDR2{
    position:absolute;
    top: 430px;
    left: 530px;
    width: 200px;
    height: 250px;
}
#Witcher{
    position:absolute;
    top: 430px;
    right: 430px;
    width: 200px;
    height: 250px;
}
#Assassin{
    position:absolute;
    top: 430px;
    right: 150px;
    width: 200px;
    height: 250px;
}